body {
	background: #1f1e1e;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	h1 {
		font-size: 2em;
		text-transform: uppercase;
	}
}

//<!-------------------------------------nav------------------------------------------->
#nav {
	.navbar {
		text-transform: uppercase;
		opacity: 0.7;
		a {
			font-size: 0.9em;
			padding: 15px 15px;
			;
		}
	}
}

//<!-------------------------------------//nav----------------------------------------->
//<!-------------------------------------slider------------------------------------------->
#slider {
	.carousel-inner {
		img {
			width: auto;
			height: auto;
		}
		.main {
			position: absolute;
			bottom: 10%;
			p {
				font-size: 3em;
				opacity: 0.7;
			}
		}
		.next {
			position: absolute;
			bottom: 10%;
		}
		a {
			text-decoration: none;
			opacity: 0.7;
			font-size: 2em;
			&:hover {
				opacity: 1;
				color:#666;
			}
		}
	}
}

//<!-------------------------------------//slider----------------------------------------->
//<!-------------------------------------offer------------------------------------------->
#offer {
	text-align: center;
	background: #f7ebeb;
	color: black;
	padding: 80px 0 200px 0;
	.row {
		margin: 0 auto;
		.ikonki {
			width: 23%;
			height: auto;
			margin: 1%;
			padding: 20px;
			&:hover {
				box-shadow: 0 0 10px #666;
			}
			img {
				width: 100%;
			}
			h3 {
				font-size: 2em;
			}
		}
	}
	.line {
		border-bottom: 2px solid black;
	}
}

//<!-------------------------------------//offer----------------------------------------->
//<!-------------------------------------About US------------------------------------------->
#about {
	background: url('/img/music9.jpg');
	background-size: cover;
	background-attachment: fixed;
	.container {
		text-align: center;
		padding: 70px;
		.row {
			width: 100%;
			text-align: center;
			background: #000000;
			color: white;
			opacity: 0.9;
			padding: 100px;
			border-radius: 10px;
			.pole1,
			.pole2,
			.pole3,
			.pole4 {
				i {
					font-size: 2em;
					color: #165c98;
					padding: 50px 0;
				}
				h2 {
					text-align: left;
					padding: 5px 0 5px 5px;
					text-transform: uppercase;
					font-size: 0.9em;
					font-weight: bold;
				}
				p {
					font-size: 0.7em;
					text-align: left;
					padding: 5px 0 5px 5px;
				}
			}
			.pole2 {
				border-left: 1px solid rgba(255, 255, 255, 0.17);
			}
			.pole3 {
				border-top: 1px solid rgba(255, 255, 255, 0.17);
			}
			.pole4 {
				border-left: 1px solid rgba(255, 255, 255, 0.17);
				border-top: 1px solid rgba(255, 255, 255, 0.17);
			}
		}
	}
}

//<!-------------------------------------//About US----------------------------------------->
//<!-------------------------------------Team------------------------------------------->
#team {
	padding: 100px 0 120px 0;
	text-align: center;
	background: url('/img/music4.jpg');
	background-size: cover;
	.container {
		.row {
			.aneta {
				background: url('/img/face/aneta.JPG');
				background-size: cover;
			}
			.adam {
				background: url(/img/face/boss.JPG);
				background-size: cover;
			}
			.adam2 {
				background: url(/img/face/adam.jpg);
				background-size: cover;
			}
			.grzesiek {
				background: url(/img/face/grzesiek.JPG);
				background-size: cover;
			}
			.okno {
				width: 250px;
				height: 250px;
				margin-left: auto;
				margin-right: auto;
				p {
					width: 250px;
					height: 250px;
					padding: 20px 20px;
					margin: 0;
					background: #000000;
					opacity: 0;
					display: table-cell;
					vertical-align: middle;
					font-weight: bold;
					font-size: 1em;
					a {
						text-decoration: none;
						display: inline-block;
						padding: 5px 6px;
						box-sizing: border-box;
						&:hover {
							color: #2c2c2c;
						}
					}
				}
				&:hover {
					p {
						transition: opacity 0.7s;
						opacity: 0.8;
					}
				}
				span {
					color: gold;
				}
			}
			.napis {
				margin: 20px;
				font-size: 1.2em;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
		}
	}
}

//<!-------------------------------------//Team----------------------------------------->
//<!-------------------------------------Gallery------------------------------------------->
#gallery {
	text-align: center;
	background: url("/img/DSC_9900.JPG");
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
	.container-fluid {
		.row {
			margin: 0 auto;
			img {
				
				height: 250px;
				float: left;
			}
		}
	}
}

//<!-------------------------------------//Gallery----------------------------------------->
//<!-------------------------------------Audio------------------------------------------->
#audio {
	text-align: center;
	background: url(/img/music12.jpg);
	background-size: cover;
	padding: 100px 0;
	.row {
		.media {
			#jp_container_1 {
				margin: 0 auto;
			}
			.jp-type-playlist {
				font-size: 1em;
				text-align: left;
			}
		}
	}
}

//<!-------------------------------------//Audio----------------------------------------->
//<!-------------------------------------Contact------------------------------------------->
#contact {
	background: url(/img/music1.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: black;
	padding: 100px 0 50px 0;
	.line {
		border: 2px solid black;
	}
	.row {
		font-size: 1.5em;
		a {
			background: #2b64a7;
			text-decoration: none;
			color: white;
			border-radius: 3px;
			i {
				font-size: 1em;
				padding: 10px;
			}
			&:hover {
				background: #1a42a5;
			}
		}
	}
}

//<!-------------------------------------//Contact----------------------------------------->
//<!-------------------------------------Friends----------------------------------------->
#friends {
	background: #212121;
	.container {
		.row {
			text-align: center;
			padding: 10px 20px;
			h3 {
				font-size: 1.1em;
				text-transform: uppercase;
				color: #666;
			}
			font-size: 0.8em;
			.cont1,
			.cont2,
			.cont3,
			{
				ul {
					list-style-type: none;
					margin: 0;
					padding: 10px;
					;
					a {
						text-decoration: none;
						color: #898989;
						&:hover {
							color: #bfbfbf;
						}
					}
				}
			}
		}
	}
}

//<!-------------------------------------//Friends----------------------------------------->
//<!-------------------------------------Footer------------------------------------------->
#footer {
	background: #0a0a0a;
	p {
		display: block;
		padding: 7px 0;
		margin: 0;
		text-align: center;
		font-size: 0.7em;
		a {
			text-decoration: none;
			&:hover {
				color: #666;
			}
		}
	}
}

//<!-------------------------------------//Footer----------------------------------------->
//<!-------------------------------------Others------------------------------------------->

.line {
	width: 40%;
	margin-bottom: 100px;
	border: 2px solid white;
}
//viewportchecker
.hidee {
	opacity: 0
}

.showw {
	opacity: 1;
}

//<!-------------------------------------//Others----------------------------------------->


//<!-------------------------------------Media Queries----------------------------------------->

@media all and (max-width: 768px) {
	body {
		font-size: 14px;
	}
	#slider {
		.carousel-inner {
			.carousel-caption {
				img {
					width: 100%;
					height: 300px;
				}
			}
		}
	}
#offer {
	.row {
		margin: 0 auto;
		.ikonki {
			width: 96%;
			height: auto;
			margin: 2%;
			padding: 30px;
			&:hover {
				box-shadow: 0 0 10px #666;
			}
		}
	}
}
	#about {
		.container {
			padding: 100px 20px;
			.row {
				padding: 20px 20px;
				margin: 0 auto;
				.pole1,
				.pole2,
				.pole3,
				.pole4 {
					h2 {
						text-align: center;
					}
					i {
						padding: 30px;
					}
					p {
						font-size: 1em;
						text-align: center;
					}
				}
				.pole2 {
					border-left: none;
				}
				.pole3 {
					border-top: none;
				}
				.pole4 {
					border-left: none;
					border-top: none;
				}
			}
		}
	}
	#team {
		padding: 50px 0px;
		margin-left: auto;
		margin-right: auto;
	}
	#gallery {
		.container-fluid {
			.row{
				.box {
					img {
					width: 100%;
					height: auto;
				}
			}
			}
		}
	}
	#audio {
	padding: 50px 0;
	.row {
		.media {
			#jp_container_1 {
				margin: 0;
				width: 100%;
			}
			.jp-type-playlist {
				font-size: 1em;
			}
		}
	}
}
	#contact {
	padding: 50px 0;
}

}
@media all and (min-width:769px) and (max-width:992px) {
	body {
		font-size: 16px;
	}
	
	#nav {
		.navbar {
			opacity: 0.8;
			a {
				font-size: 0.8em;
			}
		}
	}
#slider {
		.carousel-inner {
			.carousel-caption {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	
	#about {
		.container {
			padding: 50px 20px;
			.row {
				padding: 20px 20px;
				margin: 0 auto;
				.pole1,
				.pole2,
				.pole3,
				.pole4 {
					h2 {
						text-align: center;
					}
					i {
						padding: 30px;
					}
					p {
						text-align: center;
					}
				}
				.pole2 {
					border-left: 1px solid rgba(255, 255, 255, 0.17);
				}
				.pole3 {
					border-top: 1px solid rgba(255, 255, 255, 0.17);
				}
				.pole4 {
					border-left: 1px solid rgba(255, 255, 255, 0.17);
					border-top: 1px solid rgba(255, 255, 255, 0.17);
				}
			}
		}
	}
	
	#team {
		padding: 50px 10px;
	}
	
#offer {
	.row {
		margin: 0 auto;
		.ikonki {
			width: 48%;
			height: auto;
			margin: 1%;
			padding: 30px;
			&:hover {
				box-shadow: 0 0 10px #666;
			}
		}
	}
}
	
	#gallery {
		.container-fluid {
			.row{
				.box {
					img {
					width: 50%;
				}
			}
			}
		}
	}
	
	#audio {
		padding: 50px 0;
		.row {
			.media {
				#jp_container_1 {
					margin: 0;
					width: 105%;
				}
				.jp-type-playlist {
					font-size: 0.9em;
				}
			}
		}
	}
}
@media all and (min-width:993px) and (max-width:1200px){
#offer {
	.row {
		.ikonki {
			h3{
				font-size: 1.2em;
			}
		}
	}
}
	#gallery {
		.container-fluid {
			.row{
				.box {
					img {
					width: 33%;
				}
			}
			}
		}
	}
}
@media all and (min-width:1201px){
#offer {
	.row {
		.ikonki {
			h3{
				font-size: 1.2em;
			}
		}
	}
}
	#gallery {
		.container-fluid {
			.row{
				.box {
					img {
					width: 25%;
				}
			}
			}
		}
	}
}
//<!-------------------------------------//Media Queries----------------------------------------->


