//<!-------------------------------------nav------------------------------------------->

//<!-------------------------------------//nav----------------------------------------->

//<!-------------------------------------slider------------------------------------------->
#slider{
	
	carousel-example-generic{
	width: 100%;
	height: 200px;
	}
	
}
//<!-------------------------------------//slider----------------------------------------->

//<!-------------------------------------About US------------------------------------------->
#about{
	padding: 40px;
	img{
		width: 100%;
	}
}
//<!-------------------------------------//About US----------------------------------------->

//<!-------------------------------------Team------------------------------------------->
//<!-------------------------------------//Team----------------------------------------->

//<!-------------------------------------offer------------------------------------------->
//<!-------------------------------------//offer----------------------------------------->

//<!-------------------------------------nav------------------------------------------->
//<!-------------------------------------//nav----------------------------------------->

//<!-------------------------------------Gallery------------------------------------------->
//<!-------------------------------------//Gallery----------------------------------------->

//<!-------------------------------------Audio------------------------------------------->
//<!-------------------------------------//Audio----------------------------------------->

//<!-------------------------------------Contact------------------------------------------->
//<!-------------------------------------//Contact----------------------------------------->

//<!-------------------------------------Footer------------------------------------------->
//<!-------------------------------------//Footer----------------------------------------->